@page
@model Dyreinternattet_Semesterprojekt_Vinter_2023.Pages.Vagt.CreateVagtModel
@{
}

<h1>Create new Vagt</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="@Model.Vagt.Medarbejder" class="control-label"></label>
        <select asp-for="@Model.Vagt.Medarbejder" asp-items="@Model.MedarbejderOptions()" class="form-control"></select>
        @* <select asp-for="@Model.Vagt.Medarbejder" asp-items="@(new SelectList(Model.MedarbejderOptions(), "Medarbejder", "Medarbejder.Name"))" class="form-control"></select> *@


    </div>
    <div class="form-group">
        <label asp-for="@Model.Vagt.StartTid" class="control-label"></label>
        <select asp-for="@Model.Vagt.StartTid" asp-items="@Model.StartTidOptions()" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Vagt.SlutTid" class="control-label"></label>
        <select asp-for="@Model.Vagt.SlutTid" asp-items="@Model.SlutTidOptions()" class="form-control"></select>
    </div>

    <p>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </p>
</form>
