@page "{ID:int}"
@model Dyreinternattet_Semesterprojekt_Vinter_2023.Pages.Dyreoversigt.DyreDetaljerModel
@{
}

<div class="Dyr1">
    <div class="dyrimage1">
        <img src="images/kat1.png" alt="Dyr 1 Image"/>
    </div>
    <div id="@Model.Dyr.ID" class="dyrcontent">
        <h1>
            @Model.Dyr.Navn
            <br>
            <br>
        </h1>
        <div class="p4">
            <p>
                @Model.Dyr.Alder
                <br>
                <br>
                @Model.Dyr.Race
                <br>
                <br>
                @Model.Dyr.Vægt
                <br>
                <br>
                @Model.Dyr.VaccineStatus
                <br>
                <br>
                @Model.Dyr.ErAdopteret

            </p>
        </div>
    </div>
</div> 













<h1>Detaljer om @Model.Dyr.Navn </h1>
<p>Navn: @Model.Dyr.Navn</p>


<a asp-page="/Dyreoversigt/GetAllDyr">Tilbage til dyreoversigt</a>