@page "{ID:int}"
@model Dyreinternattet_Semesterprojekt_Vinter_2023.Pages.Dyreoversigt.DyreDetaljerModel
@{
}

<div class="Dyr1">
    <div class="dyrimage1">
        <img src="images/hundkat.png" alt="Dyr 1 Image" />
    </div>
    <div id="@Model.Dyr.ID" class="dyrcontent">
        <h1>
            @Model.Dyr.Navn
            <br>
            <br>
        </h1>
        <div class="p4">
            <p>
                @Model.Dyr.Alder
                <br>
                <br>
                @Model.Dyr.Race
                <br>
                <br>
                @Model.Dyr.Vægt
                <br>
                <br>
                @Model.Dyr.VaccineStatus
                <br>
                <br>
                @Model.Dyr.ErAdopteret

            </p>
        </div>
    </div>
</div>
@* 
<div id="luna" class="Dyr2">
    <div class="dyrimage2">
        <img src="images/hundkat.png" alt="Dyr 1 Image" />
    </div>
    <div class="dyrcontent2">
        <h1>
            LUNA
            <br>
            <br>
        </h1>
        <div class="p5">
            <p>
                Navn: Luna
                <br>
                <br>
                Race: Hollandsk kanin
                <br>
                <br>
                Personlighed: Energisk, legesyg
                <br>
                <br>
                Øjne: Blåøjede nysgerrighed
                <br>
                <br>
                Bevægelser: Små hop og spring
                <br>
                <br>
                Effekt på hjemmet: Bring liv og latter
                <br>
                <br>
                Adoptionsappel: Adoptér Hoppe for at tilføre energi til dit liv
                <br>
                <br>
                Vaccinationer: RHD (Rabbit Hemorrhagic Disease), Myxomatose
            </p>
        </div>
    </div>
</div>

<div id="shadow" class="Dyr3">
    <div class="dyrimage3">
        <img src="images/hundkat.png" alt="Dyr 1 Image" />
    </div>
    <div id="shadow" class="dyrcontent3">
        <h1>
            SHADOW
            <br>
            <br>
        </h1>
        <div class="p6">
            <p>
                Navn: Shadow
                <br>
                <br>
                Race: Border Collie
                <br>
                <br>
                Alder: 3 år
                <br>
                <br>
                Personlighed: Livlig, intelligent
                <br>
                <br>
                Aktiviteter: Klar til lange gåture og udendørs eventyr
                <br>
                <br>
                Adoptionsappel: Adoptér Bella for at få en trofast ledsager og tilføre liv og glæde til dit hjem.
                <br>
                <br>
                Vaccinationer: DHPP, Rabies, Bordetella (kennelhoste)
            </p>
        </div>
    </div>
</div>

<div id="bella" class="Dyr4">
    <div class="dyrimage4">
        <img src="images/hundkat.png" alt="Dyr 1 Image" />
    </div>
    <div class="dyrcontent4">
        <h1>
            BELLA
            <br>
            <br>
        </h1>
        <div class="p7">
            <p>
                Navn: Bella
                <br>
                <br>
                Race: Border Collie
                <br>
                <br>
                Alder: 3 år
                <br>
                <br>
                Personlighed: Livlig, intelligent
                <br>
                <br>
                Aktiviteter: Klar til lange gåture og udendørs eventyr
                <br>
                <br>
                Adoptionsappel: Adoptér Bella for at få en trofast ledsager og tilføre liv og glæde til dit hjem.
                <br>
                <br>
                Vaccinationer: DHPP, Rabies, Bordetella (kennelhoste)
            </p>
        </div>
    </div>
</div>


<div id="max" class="Dyr5">
    <div class="dyrimage5">
        <img src="images/hundkat.png" alt="Dyr 1 Image" />
    </div>
    <div class="dyrcontent4">
        <h1>
            MAX
            <br>
            <br>
        </h1>
        <div class="p8">
            <p>
                Navn: Max
                <br>
                <br>
                Race: Border Collie
                <br>
                <br>
                Alder: 3 år
                <br>
                <br>
                Personlighed: Livlig, intelligent
                <br>
                <br>
                Aktiviteter: Klar til lange gåture og udendørs eventyr
                <br>
                <br>
                Adoptionsappel: Adoptér Bella for at få en trofast ledsager og tilføre liv og glæde til dit hjem.
                <br>
                <br>
                Vaccinationer: DHPP, Rabies, Bordetella (kennelhoste)
            </p>
        </div>
    </div>
</div>

<div id="rocky" class="Dyr6">
    <div class="dyrimage6">
        <img src="images/hundkat.png" alt="Dyr 1 Image" />
    </div>
    <div class="dyrcontent6">
        <h1>
            ROCKY
            <br>
            <br>
        </h1>
        <div class="p9">
            <p>
                Navn: Rocky
                <br>
                <br>
                Race: Border Collie
                <br>
                <br>
                Alder: 3 år
                <br>
                <br>
                Personlighed: Livlig, intelligent
                <br>
                <br>
                Aktiviteter: Klar til lange gåture og udendørs eventyr
                <br>
                <br>
                Adoptionsappel: Adoptér Bella for at få en trofast ledsager og tilføre liv og glæde til dit hjem.
                <br>
                <br>
                Vaccinationer: DHPP, Rabies, Bordetella (kennelhoste)
            </p>
        </div>
    </div>
</div>

<div id="nusse" class="Dyr7">
    <div class="dyrimage7">
        <img src="images/hundkat.png" alt="Dyr 1 Image" />
    </div>
    <div class="dyrcontent7">
        <h1>
            NUSSE
            <br>
            <br>
        </h1>
        <div class="p10">
            <p>
                Navn: Nusse
                <br>
                <br>
                Race: Border Collie
                <br>
                <br>
                Alder: 3 år
                <br>
                <br>
                Personlighed: Livlig, intelligent
                <br>
                <br>
                Aktiviteter: Klar til lange gåture og udendørs eventyr
                <br>
                <br>
                Adoptionsappel: Adoptér Bella for at få en trofast ledsager og tilføre liv og glæde til dit hjem.
                <br>
                <br>
                Vaccinationer: DHPP, Rabies, Bordetella (kennelhoste)
            </p>
        </div>
    </div>
</div>

<div id="hoppe" class="Dyr8">
    <div class="dyrimage8">
        <img src="images/hundkat.png" alt="Dyr 1 Image" />
    </div>
    <div class="dyrcontent8">
        <h1>
            HOPPE
            <br>
            <br>
        </h1>
        <div class="p11">
            <p>
                Navn: Hoppe
                <br>
                <br>
                Race: Border Collie
                <br>
                <br>
                Alder: 3 år
                <br>
                <br>
                Personlighed: Livlig, intelligent
                <br>
                <br>
                Aktiviteter: Klar til lange gåture og udendørs eventyr
                <br>
                <br>
                Adoptionsappel: Adoptér Bella for at få en trofast ledsager og tilføre liv og glæde til dit hjem.
                <br>
                <br>
                Vaccinationer: DHPP, Rabies, Bordetella (kennelhoste)
            </p>
        </div>
    </div>
</div>

<div id="pjuske" class="Dyr9">
    <div class="dyrimage9">
        <img src="images/hundkat.png" alt="Dyr 1 Image" />
    </div>
    <div class="dyrcontent9">
        <h1>
            PJUSKE
            <br>
            <br>
        </h1>
        <div class="p12">
            <p>
                Navn: Pjuske
                <br>
                <br>
                Race: Border Collie
                <br>
                <br>
                Alder: 3 år
                <br>
                <br>
                Personlighed: Livlig, intelligent
                <br>
                <br>
                Aktiviteter: Klar til lange gåture og udendørs eventyr
                <br>
                <br>
                Adoptionsappel: Adoptér Bella for at få en trofast ledsager og tilføre liv og glæde til dit hjem.
                <br>
                <br>
                Vaccinationer: DHPP, Rabies, Bordetella (kennelhoste)
            </p>
        </div>
    </div>
</div> *@





<h1>Detaljer om @Model.Dyr.Navn </h1>
<p>Navn: @Model.Dyr.Navn</p>


<a asp-page="/Dyreoversigt/GetAllDyr">Tilbage til dyreoversigt</a>